<!--======== MENU ========-->
<app-navbar></app-navbar>
<br>

<!--======== Drop down ========-->
<app-dropdown></app-dropdown>
<br>

<!--======== Tooltip ========-->
<app-tooltip></app-tooltip>
<br>

<!--======== Badge ========-->
<app-badge></app-badge>
<br>

<!--======== Chips ========-->
<app-chips></app-chips>
<br>

<!--======== Card ========-->
<app-card></app-card>
<br>

<!--======== Tree ========-->
<app-tree></app-tree>
<br>

<!--======== Slide Toggle ========-->
<app-slide-toggle></app-slide-toggle>
<br>

<!--======== Progress Spinner ========-->
<app-progress-spinner></app-progress-spinner>
<br>

<!--======== Dialog ========-->
<app-dialog></app-dialog>
<br>